.itemheader {
	 background-color: #C0C0C0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:White ;
	font-size: 12px;
	width : 80px ;
	font-weight: bold;
	text-align:center;
	border-right: #7baee3 1px solid;
	border-top: #7baee3 1px solid;
	border-left: #7baee3 1px solid;
	border-bottom: #7baee3 1px solid;
}
.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #E0EFFF;
	/*background-color:#487CB5;*/
	height:15px;
}
.itemheader1 
{
	background-color:  #F3F3F3;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:White ;
	font-size: 12px;
	width : 80px ;
	font-weight: bold;
	text-align:center;
	border-right:  #ffffff 1px solid;
	border-top:  #ffffff 1px solid;
	border-left:  #ffffff 1px solid;
	border-bottom:  #ffffff 1px solid;
}
.heading1
{
	background-color:#C0C0C0;
}
.GridItemOnClick
{
	background-color:#F3F3F3;
}
.itemstyle
{
	font-weight: normal;
	font-size: 10px;
	width: 80px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 15px;
	/*background-color: #ecf4fc;*/
	text-align: right;
	border-right: #7baee3 1px solid;
	border-top: #7baee3 1px solid;
	border-left: #7baee3 1px solid;
	border-bottom: #7baee3 1px solid;
}
.alternatingitemstyle {
	font-weight: normal;
	font-size: 10px;
	width: 80px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 15px;
	/*background-color: #ecf4fc;*/
	text-align: right;
	border-right: #7baee3 1px solid;
	border-top: #7baee3 1px solid;
	border-left: #7baee3 1px solid;
	border-bottom: #7baee3 1px solid;
}
.itemtotal {
	font-weight: normal;
	font-size: 10px;
	width: 80px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 15px;
	/*background-color: #ecf4fc;*/
	text-align: right;
	border-right: #7baee3 1px solid;
	border-top: #7baee3 1px solid;
	border-left: #7baee3 1px solid;
	border-bottom: #7baee3 1px solid;

	

}
.itemstyletextbox 
{
	font-weight: normal;
	font-size: 10px;
	width: 80px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 15px;
	/*background-color: #ecf4fc;*/
	text-align: right;
	border-right: #7baee3 0px solid;
	border-top: #7baee3 0px solid;
	border-left: #7baee3 0px solid;
	border-bottom: #7baee3 0px solid;

}

.alternatingitemstyletextbox 
{
	font-weight: normal;
	font-size: 10px;
	width: 80px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 15px;	
	/*background-color: #ecf4fc;*/
	text-align: right;
	border-right: #7baee3 0px solid;
	border-top: #7baee3 0px solid;
	border-left: #7baee3 0px solid;
	border-bottom: #7baee3 0px solid;


}
.itemtotaltextbox
{
	font-weight:normal;
	font-size: 10px;
	width: 80px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 15px;
	/*background-color: #ecf4fc;*/
	text-align: right;
	border-right: #7baee3 0px solid;
	border-top: #7baee3 0px solid;
	border-left: #7baee3 0px solid;
	border-bottom: #7baee3 0px solid;



}

.itemHeadingColumn
{
	font-weight: normal;
	font-size: 10px;
	width: 80px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 15px;
	/*background-color: #ecf4fc;*/
	text-align: left;
	border-right: #7baee3 0px solid;
	border-top: #7baee3 0px solid;
	border-left: #7baee3 0px solid;
	border-bottom: #7baee3 0px solid;

}