/***************InfiniHR Css*******************Start*/
.TabStripBody
{
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#f3f3f3', EndColorStr='#ffffffff');
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	border-right: #dddddd 1px solid;
	border-top: #dddddd 1px solid;
	border-left: #dddddd 1px solid;
	border-bottom: #dddddd 1px solid;
}

.page-section-text
{
	font-weight: bold;
	font-size: 16px;
	color:gray;
	font-family: Arial, Helvetica, sans-serif;
	list-style-type: disc;
}

.HeadingBar
{
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=2, StartColorStr= '#F3F3F3' , EndColorStr= '#00cbd3e4' ) progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr= '#ffffff' , EndColorStr= '#f3f3f3');
	font-weight: bold;
	font-size: 11px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	text-decoration: none;
	height:25px; 
	border-top: Solid 1px #dddddd;
}
.TableBodyShade
{
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#ffffff', EndColorStr='#f3f3f3');
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: Black;	
}

.MBUTTON
{
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr= '#cccccc' , EndColorStr= '#dddddd');
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	cursor: hand;
	color:black;
	border:Solid 1px #dddddd;
	background-color: #f3f3f3;
	width: 80px;
	text-align:center;  		    
}
.MBUTTONON
{
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr= '#f3f3f3' , EndColorStr= '#dddddd');
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	cursor: hand;
	color:black;
	border:Solid 1px #dddddd;
	background-color: #f3f3f3;
	width: 80px;
	text-align:center;  
}

.hover-link-blue
{
	text-decoration: none;
	color:#d3d3d3;		
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}
.Tablebackground
{

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: Black;
	border-right: #dddddd 1px solid;
	border-top: #dddddd 1px solid;
	border-left: #dddddd 1px solid;
	border-bottom: #dddddd 1px solid;
	background-color:White;

}

.Smallheading
{
	font-weight: bold;
	font-size: 11px;
	color: gray;
	font-family: Verdana, Arial, Helvetica, sans-serif;
		
	
}


.link-linkmenu2             
{
	font-family:Tahoma, Verdana, Arial;
	font-size:11px;
	font-weight:normal;
	color:#3E3E3E;
	text-decoration:none;
	height:15px;
	
}


.link-linkmenu2:hover
{
	font-family:Tahoma, Verdana, Arial;
	font-size:11px;
	font-weight:normal;
	color:#3E3E3E;
	text-decoration:none;
	height:15px;
	background-color:#f3f3f3
}
/***************InfiniHR Css******************End*/