.acc_leftbar_bg
{
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr= '#ff336699' , EndColorStr= '#90336699' );
}

.acc_outerborder
{
	border-right: #7baee3 1px solid;
	border-top: #7baee3 1px solid;
	border-left: #7baee3 1px solid;
	border-bottom: #7baee3 1px solid;
}

.acc_left-bar-main-link
{
	font-weight: bold;
	font-size: 9pt;
	color: #003366;
	font-family: verdana;
	letter-spacing: 0pt;
	border: 1px solid #5588BB;
	text-decoration : none;
}

.acc_left-bar-main-anchorcolor
{
	border-right: #5588bb 0px solid;
	border-top: #5588bb 0px solid;
	font-weight: bold;
	font-size: 9pt;
	border-left: #5588bb 0px solid;
	color: #003366;
	border-bottom: #5588bb 0px solid;
	font-family: verdana;
	letter-spacing: 0pt;
	text-decoration: none;
}

.acc_left-bar-links
{
	font-size: 8.5pt;
	color: black;
	font-family: verdana;
	text-decoration: none;
}

.acc_error_heading
{
	font-weight: bold;
	font-size: 15pt;
	color: black;
	font-family: tahoma;
	text-decoration: none;
}

.acc_error_text
{
	font-weight: normal;
	font-size: 9pt;
	color: black;
	font-family: verdana;
	text-decoration: none;
}

.text-outerborder-White_background
{
	

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: Black;
	border-right: #7baee3 1px solid;
	border-top: #7baee3 1px solid;
	border-left: #7baee3 1px solid;
	border-bottom: #7baee3 1px solid;
	background-color:White;
}


.acc_text-outerborder-light_blue_background
{
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr= '#ffF2F6FA' , EndColorStr= '#ffffffff' );
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #336699;
	border-right: #7baee3 1px solid;
	border-top: #7baee3 1px solid;
	border-left: #7baee3 1px solid;
	border-bottom: #7baee3 1px solid;
	background-color: #F2F6FA;
}

.acc_mbutton {
	border-right: black 1px solid;
	border-top: black 1px solid;
	font-size: 10px;
	font-weight: bold;
	border-left: black 1px solid;
	cursor: hand;
	color:White ;
	border-bottom: black 1px solid;
	font-family: Verdana;
	background-color: #769DC7;
}
.acc_mbuttonon {
	border-right: black 1px solid;
	border-top: black 1px solid;
	font-size: 10px;
	font-weight: bold;
	border-left: black 1px solid;
	cursor: hand;
	color:White ;
	border-bottom: black 1px solid;
	font-family: Verdana;
	background-color: #8a9cb2;
}

.CONTENT
{
	font-family: Verdana;
	font-size:	11;		
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;	
	color: Black;
}

.acc_text
{
	font-weight: normal;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: Black; 
}
.acc_heading
{
	font-weight: bold;
	font-size: 10pt;
	color: #336699;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}


.acc_subheading
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.acc_header_background
{
	background-color: #4173ae;
	
}
.acc_header_text
{
	color:White;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
.acc_header_backgrounds
{
	background-color: #4173ae;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:White ;
	font-size: 11px;
	font-weight: bold;
}
.link_text {
	font-family: "Lucida Grande", Arial, Verdana, sans-serif;
	font-size: 12px;
	color: Black;
	text-decoration: none;
}
.link_text_over {

	font-family: "Lucida Grande", Arial, Verdana, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	
}

.text-outerborder-White_background-No_Border
{
	

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: Black;
	background-color:White;
}


/*
A:visited	
{
	font-family: "Lucida Grande", Arial, Verdana, sans-serif;
	font-size: 12px;

	text-decoration:	none;
	color:	black;
	}	
A:link	
{
	font-family: "Lucida Grande", Arial, Verdana, sans-serif;
	font-size: 12px;

	text-decoration:	none;
	color:	black;
	}	
a:hover {
	font-family: "Lucida Grande", Arial, Verdana, sans-serif;
	font-size: 12px;
	color: #4173AE;
	text-decoration: none;
}*/

.IBIZ_Link
{
	font-family:Tahoma, Verdana, Arial;
	font-size:11px;
	font-weight:normal;	
	color:#3E3E3E;
	text-decoration:none; 
	height:15px;
	vertical-align:middle;	
	
	/*
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3C6DB5;
	text-decoration: none;
	*/
}
.IBIZ_LinkBG
{
	font-family:Tahoma, Verdana, Arial;
	font-size:11px;
	font-weight:normal;	
	color:#3E3E3E;
	text-decoration:none;
	width:100%;
	height:10px;
	background-color:#9CC3DE;
	vertical-align:middle;	
	/*	
	background-color:#F3F3F3;	
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: Orange;
	text-decoration: none;
	*/
}
