<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
		<appsettings>
			<add key="IOTraceEnable" value="2" /> <!-- Disalbe=0,  FileTrace=1, ASP.Net Trace=2 -->
			
		</appsettings>
		<!--<customErrors defaultRedirect="/common/errorpage.aspx"/>-->
		<authorization>
			<deny users="?" />
			<allow users="*" />
		</authorization>
	</system.web>
</configuration>