<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web> 
		<!--
		<httpHandlers>
			<add verb="*" path="Login.asmx" type="InfiniLogic.AccountsCentre.Web.LoginWebServiceHandler, InfiniLogic.AccountsCentre.Web" />
		</httpHandlers>
		-->
	</system.web>

	<appSettings> 
       <add key="ValidCallerIPs" value="192.168.1.40,192.168.1.140,192.168.1.4" /> 
	</appSettings>
</configuration>