<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!--LOCAL SERVER KEYS-->

	<appSettings>
		<add key="ishopswebservices_userid" value="36Ez9WUDAh+dSUNVxt4TSLPoy50qaecF9okDn5+XAzk="/>
		<add key="ishopswebservices_pwd" value="OjJLSzsCzoHLVIXOMdEwCg=="/>
		<add key="ishopswebservices_domain" value="g1kIYIHvM0JJ5Kq5QHyBeQ=="/>
		<add key="key" value="G1JZfashsXKhF34eP9HN7Cac2/aPUjxodtPuvirBl4k="/>
		<add key="adminEmail" value="talha@infinilogic.com"/>
		<add key="AdminAuthenticationForAllowLimit" value="0ENtbMlu+PeA0kdPUBA4ehP/m4E7OFitXfKjG37hexc="/>
  </appSettings>

	    <system.web>
<!--        <customErrors
            defaultRedirect="/common/errorpage.aspx"
        /> -->

        <!-- security -->
        <authorization>
           <deny users="?" />
           <allow users="*" />
        </authorization>
    </system.web>

<location path="TransactionDetail.aspx">
   <system.web>
        <authorization>
           
           <allow users="*" />
        </authorization>
    </system.web>        
 </location>

<!--<location path="UpdatePayementInfo.aspx">
   <system.web>
        <authorization>
           
           <allow users="*" />
        </authorization>
    </system.web>        
        </location>
 
 <location path="UpdatePaymentInfoDetail.aspx">
  <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
  </system.web>        
 </location>-->
</configuration>