<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web> 
		<!--
		<httpHandlers>
			<add verb="*" path="Login.asmx" type="accounts.infinibiz.Web.LoginWebServiceHandler, accounts.infinibiz.Web" />
		</httpHandlers>
		-->
		<trace enabled="true" requestLimit="2000" pageOutput="false" traceMode="SortByTime" localOnly="false" />
	</system.web>

	<appSettings> 
		<add key="ValidCallerIPs" value="192.168.1.40,192.168.1.140,192.168.1.4" /> 
	</appSettings>
</configuration>