<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="system.web">
			<section name="magicAjax" type="MagicAjax.Configuration.MagicAjaxSectionHandler, MagicAjax" />
			<section name="appsettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		</sectionGroup>
	</configSections>
	<system.web>
		<httpRuntime maxRequestLength="1048576" executionTimeout="19600" />
		<appsettings>
			<add key="ResourceBaseName" value="InfiniBiz_RES" />
			<add key="ResourceManagerType" value="Satellite" />
			<add key="ApplicationPath" value="D:\\accounts.infinibiz.com" />
			<add key="EnableWMI" value="false" />
			<add key="SupportedCultures" value="ur;fr" />
			
		</appsettings>

		<httpHandlers>
  <add verb="GET" path="FtbWebResource.axd" type="FreeTextBoxControls.AssemblyResourceHandler, FreeTextBox"/>

		<!--
			<add verb="*" path="CreateProduct.ashx" type="InfiniLogic.AccountsCentre.AccountsPro.ProductComponent.ImageHandler, InfiniLogic.AccountsCentre.AccountsPro.ProductComponent" />
			<add verb="*" path="ProductCategory.ashx" type="InfiniLogic.AccountsCentre.AccountsPro.ProductCategory.ImageHandler, InfiniLogic.AccountsCentre.AccountsPro.ProductCategory" />
			<add verb="*" path="/AccountsPro/ImageHandler.ashx" type="InfiniLogic.AccountsCentre.AccountsPro.ImageHandler, InfiniLogic.AccountsCentre.AccountsPro" />
			<add verb="*" path="/InfiniSales/ImageHandler.ashx" type="InfiniLogic.AccountsCentre.InfiniSales.ImageHandler, InfiniLogic.AccountsCentre.InfiniSales" />
		-->	
		</httpHandlers>		

		<magicAjax scriptPath="/AccountsPro/Scripts" outputCompareMode="HashCode" tracing="false">
			<pageStore mode="NoStore" unloadStoredPage="false" cacheTimeout="5" maxConcurrentPages="5"
				maxPagesLimitAlert="false" />
		</magicAjax>
		<!--	
    
		Secure Socket Layer Implementation:

      <httpModules>
		<add type="accounts.infinibiz.Web.CheckUserLogin,accounts.infinibiz.Web" name="CheckUserLogin" />
      </httpModules>

	-->
			<httpModules>
			<add name="MagicAjax" type="MagicAjax.MagicAjaxModule, MagicAjax" />
			
		</httpModules>
		<!--
	 DYNAMIC DEBUG COMPILATION

          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
		<compilation defaultLanguage="vb" debug="true" />
		<!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.
	-->
		<!--
	<customErrors  mode="ON" defaultRedirect="/Common/ErrorPage.aspx">
		<error statusCode="404" redirect="/Common/Error404.aspx"/>
	</customErrors>
<add name="CompressingModule" type="HTTPCompressingModule.CompressingModule, HTTPCompressingModule"/>
-->
		<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"
    -->
		<authentication mode="Forms">
			<forms name="AccountsCentreAuth" loginUrl="https://services.infinibiz.com/account/index.php"
				slidingExpiration="true" timeout="90"></forms>
		</authentication>
		<!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
		<authorization>
			<allow users="*" /> <!-- Allow all users -->
			<!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
		</authorization>
		<!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
		<trace enabled="true" requestLimit="2000" pageOutput="false" traceMode="SortByTime" localOnly="false" />
		<!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password="
			cookieless="false" timeout="90" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
		<browserCaps>


		<!-- 
		http://slingfive.com/pages/code/browserCaps/
		-->

			<!-- GECKO Based Browsers (Netscape 6+, Mozilla/Firefox, ...) //-->

			<case match="^Mozilla/5\.0 \([^)]*\) (Gecko/[-\d]+)(?'VendorProductToken' (?'type'[^/\d]*)([\d]*)/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)))?">
				browser=Gecko
				<filter>
					<case match="(Gecko/[-\d]+)(?'VendorProductToken' (?'type'[^/\d]*)([\d]*)/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)))">
						type=${type}
					</case>
					<case>
						type=Mozilla
					</case>
				</filter>
				frames=true
				tables=true
				cookies=true
				javascript=true
				javaapplets=true
				ecmascriptversion=1.5
				w3cdomversion=1.0
				css1=true
				css2=true
				xml=true
				tagwriter=System.Web.UI.HtmlTextWriter
				<case match="rv:(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*))">
					version=${version}
					majorversion=0${major}
					minorversion=0${minor}
					<case match="^b" with="${letters}">
						beta=true
					</case>
				</case>
			</case>

			<!-- AppleWebKit Based Browsers (Safari...) //-->
<!--
			<case match="AppleWebKit/(?'version'(?'major'\d?)(?'minor'\d{2})(?'letters'\w*)?)">
				browser=AppleWebKit
				version=${version}
				majorversion=0${major}
				minorversion=0.${minor}
				frames=true
				tables=true
				cookies=true
				javascript=true
				javaapplets=true
				ecmascriptversion=1.5
				w3cdomversion=1.0
				css1=true
				css2=true
				xml=true
				tagwriter=System.Web.UI.HtmlTextWriter
				<case match="AppleWebKit/(?'version'(?'major'\d)(?'minor'\d+)(?'letters'\w*))(.* )?(?'type'[^/\d]*)/.*( |$)">
					type=${type}
				</case>
			</case>
-->
			<!-- Konqueror //-->
<!--
			<case match=".+[K|k]onqueror/(?'version'(?'major'\d+)(?'minor'(\.[\d])*)(?'letters'[^;]*));\s+(?'platform'[^;\)]*)(;|\))">
				browser=Konqueror
				version=${version}
				majorversion=0${major}
				minorversion=0${minor}
				platform=${platform}
				type=Konqueror
				frames=true
				tables=true
				cookies=true
				javascript=true
				javaapplets=true
				ecmascriptversion=1.5
				w3cdomversion=1.0
				css1=true
				css2=true
				xml=true
				tagwriter=System.Web.UI.HtmlTextWriter
			</case>
-->
			<!-- Opera //-->
			
			<case match="Opera[ /](?'version'(?'major'\d+)(?'minor'\.(?'minorint'\d+))(?'letters'\w*))">
				<filter match="[7-9]" with="${major}">
					tagwriter=System.Web.UI.HtmlTextWriter
				</filter>
				<filter>
					<case match="7" with="${major}">
						<filter>
							<case match="[5-9]" with="${minorint}">
								ecmascriptversion=1.5
							</case>
							<case>
								ecmascriptversion=1.4
							</case>
						</filter>
					</case>
					<case match="[8-9]" with="${major}">
						ecmascriptversion=1.5
					</case>
				</filter>
			</case>


		</browserCaps>
	</system.web>
	<location path="Default.aspx">
		<system.web>
			<trace enabled="true" requestLimit="2000" pageOutput="false" traceMode="SortByTime" localOnly="false" />
			<authorization>
				<deny users="?" />
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="account/customer.asmx">
		<system.web>
			<trace enabled="true" requestLimit="2000" pageOutput="false" traceMode="SortByTime" localOnly="false" />
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="account/signout.aspx">
		<system.web>
			<trace enabled="true" requestLimit="2000" pageOutput="false" traceMode="SortByTime" localOnly="false" />
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="account">
		<system.web>
			<trace enabled="true" requestLimit="2000" pageOutput="false" traceMode="SortByTime" localOnly="false" />
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<appSettings>
		<add key="ishopswebservices_userid" value="36Ez9WUDAh+dSUNVxt4TSLPoy50qaecF9okDn5+XAzk=" />
		<add key="ishopswebservices_pwd" value="OjJLSzsCzoHLVIXOMdEwCg==" />
		<add key="ishopswebservices_doFmain" value="g1kIYIHvM0JJ5Kq5QHyBeQ==" />
		<add key="key" value="G1JZfashsXKhF34eP9HN7Cac2/aPUjxodtPuvirBl4k=" />
		<add key="isDebug" value="True" />
		
		<add key="NonCompressedExtensions" value=".axd,js.aspx,.ashx" />
		<add key="NonCompressedFolder" value="InfiniPlan" />
		
		<add key="Validate26User" value="0" />
		<add key="User" value="D:\Users\" />
		<!--<add key="InfinishopMerchatCodeList" value="104,526,527,3092,3093,3105,3106" /> -->
		<add key="ResellerProCodeList" value="528,529,3094,3095,3103,3104" />
		<add key="APIResellerCodeList" value="530" />
		
		<add key="IOTraceEnable" value="2" /> <!-- Disalbe=0,  FileTrace=1, ASP.Net Trace=2 -->
		
		<add key="LongOrderID" value="1"/>
		<add key="FixCurrencyDBBug" value="1"/>
		<add key="SupportedSubDomain" value=".infinibiz.com,.business4less.com,.business4less.co.uk" />
		<add key="ByForceRegDomain" value="0" />
		
		<add key="MarketPlaceDomainName" value="http://marketplaces.infinimation.com" />
		<add key="ResellerServiceDomainName" value="https://reseller.infinibiz.com" />
		<add key="MySqlConnection" value="server=192.168.9.206; user id=tracker_bot; 							password=tracker_bot;database=website_tracker; pooling=false; " />
		
	</appSettings>
</configuration>
