<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServiceAvailable" value="1" />		
		<add key="ServerPort" value="80" />
		<add key="IPAddress" value="192.168.1.3" />
		<add key="DefaultTemplateID" value="147" />
		
		<!-- Live
		<add key="IPAddress" value="10.0.0.67" />
		<add key="DefaultTemplateID" value="48" />
		-->
		<add key="IOTraceEnable" value="1" /> <!-- Disalbe=0,  FileTrace=1, ASP.Net Trace=2 -->
		
		<add key="RegDomainMode" value="TEST" /> <!-- Using In UD_Service.vb -->
		<add key="U_DRefererID" value="1013" />
		<add key="DownloadFolder" value="/Files/" />
		<!--<add key="AccountsPro" value="AccountsProsetup.exe"/> -->
	</appSettings>
	<system.web>
		<trace enabled="true" requestLimit="2000" pageOutput="false" traceMode="SortByTime" localOnly="false" />
		<!--	<httpHandlers>
			<add verb="*" path="*.exe" type="accounts.infinibiz.Web.DownloadHandler, accounts.infinibiz.Web" />
		</httpHandlers>
	-->
		<!-- <customErrors defaultRedirect="/common/errorpage.aspx" /> -->
		<!-- security -->
		<authorization>
			<deny users="?" />
			<allow users="*" />
		</authorization>
	</system.web>
	<!--<location path="Download.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web> 
	</location> -->
	<location path="Default1.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
</configuration>