<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="DownloadFolder" value="/Files/"/>
		<!--<add key="AccountsPro" value="AccountsProsetup.exe"/> -->
		
	</appSettings>
		
	<system.web>
	
		<httpHandlers>
			<add verb="*" path="*.exe" type="InfiniLogic.AccountsCentre.Web.DownloadHandler, InfiniLogic.AccountsCentre.Web" />
		</httpHandlers>
		
		<customErrors defaultRedirect="/common/errorpage.aspx" />
		<!-- security -->
		<authorization>
			<deny users="?" />
			<allow users="*" />
		</authorization>
	</system.web>
	<!--<location path="Download.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web> 
	</location> -->
	<location path="Default1.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
</configuration>